#################################################
# Variables de entorno
#################################################

DB_HOST=localhost
DB_NAME=patitas_felices
DB_USER=root
DB_PASS=password_root
DB_CHARSET=utf8mb4