#################################################
# Variables de entorno
#################################################

.env
.env.*
!.env.example

#################################################
# Dependencias
#################################################

vendor/

#################################################
# Composer
#################################################

composer.phar

#################################################
# Logs
#################################################

*.log
logs/
storage/logs/

#################################################
# Archivos temporales
#################################################

*.tmp
*.temp
*.bak
*.swp

#################################################
# Configuración de IDE
#################################################

.vscode/
.idea/

#################################################
# Sistema Operativo
#################################################

.DS_Store
Thumbs.db

#################################################
# Caché
#################################################

.cache/

#################################################
# Archivos de prueba locales
#################################################

test/
tests/
sandbox/

#################################################
# Configuraciones locales
#################################################

config.local.php